[submodule "backend"]
	path = backend
	url = https://github.com/Jayyadav2/weather_monitoring_BE.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/Jayyadav2/weather_monitoring_FE.git
